{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Categories{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% for category in categories %}
    <article class="category">
      <header>
        <div>
          <h1>
            <a class="action" href="{{ url_for('shop.products', categoryID=category['CategoryID'],
             categoryName=category['CategoryName']) }}">{{ category['CategoryName'] }}</a>
          </h1>
        </div>
      </header>
      <p class="body">{{ category['Description'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
  <br>
  <a class="action" href="{{ url_for('shop.index') }}">Go back</a>
{% endblock %}
