{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Item{% endblock %}</h1>
{% endblock %}

{% block content %}
  <article class="item">
    <header>
      <div>
        <h1>
        {{ item['ProductName'] }}
        </h1>
      </div>
    </header>
    <p class="body">Unit price: {{ item['UnitPrice'] }}</p>
    <p class="body">Units in stock: {{ item['UnitsInStock'] }}</p>
  </article>
  <form method="post">
    <label for="quantity">Quantity</label>
    <input name="quantity" value="{{ request.form['quantity'] }}" required>
    <input type="submit" value="Add to Cart">
  </form>
  <br>
  <a class="action" href="{{ url_for('shop.products',
   category_id=item['CategoryID']) }}">Go back</a>
{% endblock %}
