{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Products - {{ products[0]['CategoryName'] }}{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% for product in products %}
    <article class="product">
      <header>
        <div>
          <h1>
            <a class="action" href="{{ url_for('shop.item',
             product_id=product['ProductID']) }}">{{ product['ProductName'] }}</a>
          </h1>
        </div>
      </header>
      <p class="body">Quanity per unit: {{ product['QuantityPerUnit'] }}</p>
      <p class="body">Unit price: {{ product['UnitPrice'] }}</p>
      <p class="body">Units in stock: {{ product['UnitsInStock'] }}</p>
      {% if product['Discontinued'] == '1' %}
        <p class="body"><u>Discontinued</u></p>
      {% endif %}
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
  <br>
  <a class="action" href="{{ url_for('shop.categories') }}">Go back</a>
{% endblock %}
