{% extends "base.html" %}

{% block header %}
  <h1>{% block title %}Create a group{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="name">Group name</label>
    <input name="name" required>
    <label for="category">Category</label>
    <input name="category" required>
    <h3>Available categories</h3>
    <ul>
      {% for c in categories %}
        <li>{{ c['category_name'] }}</li>
      {% endfor %}
    </ul>
    <label for="description">Description</label>
    <input name="description" required>
    <label for="email">Contact email</label>
    <input name="email" required>
    <label for="website">Website URL (optional)</label>
    <input name="website">
    <label for="min_age">Minimum age to join (optional)</label>
    <input name="min_age">
    <label for="max_age">Maximum age to join (optional)</label>
    <input name="max_age">
    <label for="sign_up_price">Price to join (optional)</label>
    <input name="sign_up_price">
    <input type="submit" value="Create">
  </form>
  <a class="action" href="{{ url_for('index') }}">Go back</a>
{% endblock %}