{% extends "base.html" %}

{% block header %}
  <h1>{% block title %}Categories{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% for c in categories %}
    <article class="category">
        <header>
            <div>
                <h1>
                    {{ c['category_name'] }}
                </h1>
            </div>
        </header>
    <p class="body">Description: {{ c['category_description'] }}</p>
    </article>
    {% if not loop.last %}
    <hr>
    {% endif %}
  {% endfor %}
  <br>
  <a class="action" href="{{ url_for('index') }}">Go back</a>
{% endblock %}
