{% extends "base.html" %}

{% block content %}
  <p>Welcome to the Boston Area Activities Website!<br></p>
  <p>Here you can join groups, register for events, and meet new people.<br></p>
  <p>We offer all kinds of <a href="{{ url_for('browse.categories') }}">activities</a></li>.<br></p>
  <p>You may log in at any time, however, you must register/log in to join a group or event.</p>
  <p>Click any of the links below to begin</p>
  <ul>
    <li><a href="{{ url_for('browse.groups', category='all') }}">Browse groups</a></li>
    <li><a href="{{ url_for('groups.create') }}">Make a group</a></li>
    <li><a href="{{ url_for('browse.events') }}">Browse events</a></li>
    <li><a href="{{ url_for('events.create') }}">Make an event</a></li>
    <li><a href="{{ url_for('browse.locations') }}">All locations</a></li>
{% endblock %}