{% extends "base.html" %}

{% block header %}
  <h1>{% block title %}Events{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% for e in events %}
    <article class="group">
        <p class="body"><strong>Location:</strong> <a href="{{ url_for('browse.locations') }}">
            {{ e['location_name'] }}</a></p>
        <p class="body"><strong>Time:</strong> {{ e['time_of_day'] }}</p>
        {% if e['max_attendees'] %}
            <p class="body"><strong>Maximum attendees:</strong> {{ e['max_attendees'] }}</p>
        {% endif %}
        <p class="body"><strong>Current number of attendees:</strong> {{ e['current_attendees_count'] }}</p>
        {% if e['current_attendees_count'] < e['max_attendees'] %}
          <a href="{{ url_for('events.signup', event_id=e['event_id']) }}">Sign up</a>
        {% endif %}
        <br>
        <a href="{{ url_for('events.see_review', event_id=e['event_id']) }}">Past reviews</a><br>
        <a href="{{ url_for('events.write_review', event_id=e['event_id']) }}">Write a review</a>
        {% for a in attendees %}
            {% if a['event_id'] == e['event_id'] %}
                <p class="body attendee">{{ a['first_name'] }} {{ a['last_name'] }}, {{ a['email'] }}</p>
            {% endif %}
        {% endfor %}
    </article>
    {% if not loop.last %}
        <hr>
    {% endif %}
  {% endfor %}
  <br>
  <a class="action" href="{{ url_for('index') }}">Go back</a>
{% endblock %}
